[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pyhive = {extras = ["hive"]}


[dev-packages]

black = "*"
twine = "*"


[requires]

python_version = "3.6"
